@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  text-align: center;
  padding: 8;
  overflow: hidden;
}

.App-header {
  color: #1d9629;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.PlantList, .PlantView {
  height: 90vh;
}

.PlantViewImage {
  max-width: 100%;
  max-height: 60%;
}

.PlantViewTitle {
  color: #1d9629;
  font-size: x-large;
}