@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  text-align: center;
  padding: 8;
  overflow: hidden;
}

.App-header {
  color: #1d9629;
  display: inline;
  align-items: center;
  justify-content: center;
}

.PlantList {
  height: 800px;
}

.PlantViewImage {
  max-width: 500px;
  max-height: 500px;
}

.PlantViewTitle {
  color: #1d9629;
  font-size: x-large;
}

.PlantViewPropertyIcon {
  max-height: 50px;
}

.HeaderLogo {
  max-height: 50px;
  vertical-align: middle;
  padding: 8;
}